<% provide(:page_title, 'Meus Cães') %>

<div class="container">
  <div class="columns">
    <div class="column is-3">
      <h2 class="title is-2 has-text-weight-light">Meus Cães</h2>
    </div>

    <div class="column is-9 has-text-right">
      <%= link_to 'Novo', new_dog_path, alt: 'novo', class: 'button is-primary' %>
    </div>
  </div>

  <br>

  <%= render partial: 'shared/flash' %>

  <div class="table-container">
    <table class="table is-bordered is-fullwidth table-vertical-align-center">
      <thead>
        <tr>
          <th>#ID</th> <th>Imagem</th> <th>Nome</th> <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @dogs.each do |dog| %>
        <tr>
          <td><%= dog.id %></td>
          <td><%= image_tag(dog.image_url('thumb'), class: 'image is-48x48') if dog.image.present? %></td>
          <td><%= dog.name %></td>
          <td>
            <div class="buttons">
              <%= link_to 'Visualizar', dog_path(dog), alt: 'visualizar', class: 'button is-info', title: 'Visualizar' %>
              <%= link_to 'Galeria', dog_images_path(dog), alt: 'galeria', class: 'button is-dark', title: 'Galeria de Imagens' %>
              <%= link_to 'Comparar', compare_dog_path(dog), alt: 'comparar', class: 'button is-success' %>
              <%= link_to 'Editar', edit_dog_path(dog), alt: 'editar', class: 'button is-warning', title: 'Editar' %>
              <%= link_to 'Excluir', dog_path(dog), method: :delete, data: { confirm: 'Você tem certeza?' }, alt: 'excluir', class: 'button is-danger', title: 'Excluir' %>
            </div>
          </td>
        </tr>
        <% end %>

        <% if @dogs.length == 0 %>
        <tr>
          <td colspan="4">Nenhum cão encontrado.</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
