<% provide(:page_title, 'Informe os dados do cão') %>

<div class="container">
  <h2 class="title is-2 has-text-weight-light">Informe os dados do cão</h2>

  <% if @dogs.present? %>
  <h5 class="title is-4 has-text-grey-light">Sua pesquisa retornou <%= @dogs.length %> Cão(s)</h5>
 <% end %>

  <br>

  <%= render partial: 'shared/flash' %>
  <%= render 'search_dog' %>

  <% if @dogs.present? %>
  <div class="columns is-multiline">
    <% @dogs.each do |dog| %>
    <div class="column is-3">
      <div class="box">
        <figure class="image_dog list_image" id="<%= dog.id %>">
          <%= image_tag(dog.image.to_s) %>
        </figure>
        <br>
        <div class="content has-text-centered">
          <h4 class="title is-4"><%= dog.name %></h4>
          <% if @favorites.has_key?(dog.id) %>
          <span class="is-size-1 heart_favorite" id="heart_<%= dog.id %>"><i class="fas fa-heart has-text-danger"></i></span>
          <% else %>
          <span class="is-size-1 heart_favorite" id="heart_<%= dog.id %>"><i class="far fa-heart has-text-danger"></i></span>
          <% end %>
          <p>
            <%= dog.breed %> <br>
            <%= dog.sex == 1 ? 'Macho' : 'Fêmea' %>
          </p>
          <p>
            <span><i class="fas fa-user is-size-4"></i> &nbsp; <%= dog.user.name %></span>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<%= render partial: 'front/shared/dog_modal' %>
